<!--  page banner -->
  <div id="page-banner" class="page-banner-main" style="background-image: url('images/bg/page-banner.jpg')">
    <div class="container">
      <div class="page-banner-block">
        <div class="section">
          <h3 class="section-heading">Tar Removal</h3>
        </div>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Services</a></li>
          <li class="active"><a>Services Details</a></li>
        </ol>
      </div>
    </div>
  </div>
<!--  end page banner  -->
<!-- services details -->    
  <div id="services-dtl-page" class="services-dtl-main-block">
    <div class="container">
      <div class="services-dtl-block">
        <div class="services-dtl-img">
          <img src="images/slider-3.jpg" class="img-responsive" alt="services-banner">
        </div>
        <h4 class="services-heading">Tar Removal</h4>
        <p>Mauris aliquam, nulla in lacinia tristique, nibh magna porttitor est, sed consectetur dolor lectus in metus. Sed tortor leo, convallis ut odio nec, vulputate sagittis odio. Proin mattis convallis metus sed pulvinar. Nam suscipit sagittis turpis, nec posuere metus tincidunt volutpat. Ut scelerisque consequat odio, in iaculis erat blandit eget. Fusce iaculis lacus a lorem pharetra sodales. Fusce vestibulum venenatis justo nec placerat. Etiam et lectus nisi. Fusce laoreet enim neque, vitae mattis metus sagittis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tempor erat ac sagittis iaculis. Proin id lacus non odio posuere semper. Ut commodo, orci sed finibus tincidunt, quam mauris bibendum sapien, vitae maximus metus nisi in tellus. Curabitur sit amet massa aliquet, condimentum sapien ac, porttitor neque. Vivamus iaculis rhoncus imperdiet.</p>          
      </div>    
      <div class="services-content-block">   
        <div class="row">     
          <div class="col-md-3 col-sm-6">
            <ul class="services-content">
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul class="services-content">
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul class="services-content">
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul class="services-content">
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
              <li><i class="fa fa-check-square"></i>Services Features</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>  
<!--  end services dtl -->
<!--  services -->
  <div id="services" class="services-main-block service-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/icons/service-01.png" class="img-responsive" alt="service-01"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Vehicle Hand Wash</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/icons/service-02.png" class="img-responsive" alt="service-02"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Headlight Lens Restoration</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/icons/service-03.png" class="img-responsive" alt="service-03"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Scratch Removal</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/icons/service-04.png" class="img-responsive" alt="service-04"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Tar Removal</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  end services -->