
<!--  who we are -->
  <div id ="who-we-are" class="who-we-are-main-block">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="section">
            <h3 class="section-heading">Who We Are?</h3>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget dolor aenean mas cum soc iis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus donec quam felis ultricies nec pellentesque eu pretium quis sem nulla consequat massa quis enim.</p>
          </div>
          <div class="row who-we-are-points">
            <div class="col-sm-6">
              <div class="who-we-are-block">
                <div class="who-we-are-icon">
                  <i class="icon-1" aria-hidden="true"></i>
                </div>
                <div class="who-we-are-dtl">
                  <h5 class="who-we-are-heading">Donec Pede Fringilla</h5>
                  <p>Nullam dictum felis eu pede mollis preti integer tincidunt cras dapibus vivam elementum semper nisi.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="who-we-are-block">
                <div class="who-we-are-icon">
                  <i class="icon-2" aria-hidden="true"></i>
                </div>
                <div class="who-we-are-dtl">
                  <h5 class="who-we-are-heading">Donec Pede Fringilla</h5>
                  <p>Nullam dictum felis eu pede mollis preti integer tincidunt cras dapibus vivam elementum semper nisi.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="who-we-are-block">
                <div class="who-we-are-icon">
                  <i class="icon-3" aria-hidden="true"></i>
                </div>
                <div class="who-we-are-dtl">
                  <h5 class="who-we-are-heading">Donec Pede Fringilla</h5>
                  <p>Nullam dictum felis eu pede mollis preti integer tincidunt cras dapibus vivam elementum semper nisi.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="who-we-are-block">
                <div class="who-we-are-icon">
                  <i class="icon-8" aria-hidden="true"></i>
                </div>
                <div class="who-we-are-dtl">
                  <h5 class="who-we-are-heading">Donec Pede Fringilla</h5>
                  <p>Nullam dictum felis eu pede mollis preti integer tincidunt cras dapibus vivam elementum semper nisi.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hidden-sm">
          <div class="who-we-are-img">
            <img src="images/who-we-are.jpg" class="img-responsive" alt="who-we-are">
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  end who we are -->r