<!--  page banner -->
  <div id="page-banner" class="page-banner-main" style="background-image: url('images/bg/page-banner.jpg')">
    <div class="container">
      <div class="page-banner-block">
        <div class="section">
          <h3 class="section-heading">Team Details</h3>
        </div>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Team</a></li>
          <li class="active"><a>Team Details</a></li>
        </ol>
      </div>
    </div>
  </div>
<!--  end page banner  -->
<!-- team details -->
  <div id="team-profile" class="team-profile-main-block">
    <div class="container">    
      <div class="row">
        <div class="col-sm-4">
          <div class="profile-img">
              <img src="images/team/team-full-01.jpg" class="img-responsive" alt="team-1">
          </div>
        </div>
        <div class="col-sm-8">                   
          <div class="profile-name">
            <h6>Mark Dwayne</h6>
            <div class="profile-post">Chief Engineer</div>
            <div class="social-icon">
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>  
          <div class="profile-dtl">
            <p>Progressively re-engineer intermandated intellectual capital via unique intellectual capital. Credibly cultivate functionalized communities rather than dynamic channels. Compellingly benchmark business e-markets without market-driven leadership. Progressively re-engineer intermandated intellectual capital via unique intellectual capital. Credibly cultivate functionalized communities rather than dynamic channels. Compellingly benchmark business e-markets without market-driven leadership.  
            </p>
          </div>
          <div class="profile-skill">
            <h6 class="profile-dtl-heading">Skills :</h6> 
            <div class="row">
              <div class="col-sm-6">                                 
                <div class="skill-block">
                  <p class="skill-tag-left">Technical :</p><span class="skill-tag-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar scroll-bar" data-percent="90%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="skill-block">
                  <p class="skill-tag-left">Mechanical :</p><span class="skill-tag-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar scroll-bar" data-percent="85%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>  
              </div>
              <div class="col-sm-6">
                <div class="skill-block">
                  <p class="skill-tag-left">Technical :</p><span class="skill-tag-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar scroll-bar" data-percent="90%" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="skill-block">
                  <p class="skill-tag-left">Mechanical :</p><span class="skill-tag-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar scroll-bar" data-percent="80%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
<!-- end team details -->