<!--  services -->
  <div id="services" class="services-main-block">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Our Services</h3>
        <p class="sub-heading">Sollicitudin urna dolor sagittis lacus donec elit libero sodales nec</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-01.jpg" class="img-responsive" alt="service-01"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Vehicle Hand Wash</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
             <a href="services-details.html"><img src="images/services/service-02.jpg" class="img-responsive" alt="service-02"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Headlight Lens Restoration</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-03.jpg" class="img-responsive" alt="service-03"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Scratch Removal</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-04.jpg" class="img-responsive" alt="service-04"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Tar Removal</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-05.jpg" class="img-responsive" alt="service-05"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Odor Elimination</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-06.jpg" class="img-responsive" alt="service-06"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Engine Cleaning</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-07.jpg" class="img-responsive" alt="service-07"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Hazardous Cleaning</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-block text-center">
            <div class="service-icon">
              <a href="services-details.html"><img src="images/services/service-08.jpg" class="img-responsive" alt="service-08"></a>
            </div>
            <div class="service-dtl">
              <a href="services-details.html"><h5 class="service-heading">Valet Service</h5></a>
              <p>Lorem ipsum dolor sit amet cons elit aenean commodo ligula egetetsg cum sociis natoque enatib.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  end services -->