<!--  page banner -->
  <div id="page-banner" class="page-banner-main" style="background-image: url('images/bg/page-banner.jpg')">
    <div class="container">
      <div class="page-banner-block">
        <div class="section">
          <h3 class="section-heading">Contact Us</h3>
        </div>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li class="active"><a>Contact</a></li>
        </ol>
      </div>
    </div>
  </div>
<!--  end page banner  -->
<!--  contact page   -->
  <div id="contact-page" class="contact-page-main-block">
    <div class="section text-center">
      <h3 class="section-heading">Contact Us</h3>
      <p class="sub-heading">Sollicitudin urna dolor sagittis lacus donec elit libero sodales nec</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4"> 
          <div class="contact-block">
            <ul>
              <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">+1234567890</a></li>
              <li><i class="fa fa-mobile-phone" aria-hidden="true"></i><a href="#">+1234567890</a></li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">+1234567890</a></li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">info@company.com</a></li>
              <li><i class="fa fa-globe" aria-hidden="true"></i><a href="#">www.carwash.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9  col-sm-8">
          <form id="contact-form" class="contact-form" method="post" action="contact-us.php">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Full Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail">
                </div> 
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
            </div> 
            <div class="message">
              <textarea id="message" name="message" rows="6" placeholder="Message"></textarea>
            </div> 
            <button type="button" class="btn btn-default">Send Message</button>              
          </form> 
        </div>
      </div>
    </div>
  </div>         
<!--  end contact page  -->
<!--  map -->
  <div id="location" class="contact-map"></div>
<!--  end map -->