<!--  navigation -->
  <div class="nav-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo">
            <a href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="navigation">
            <div id="cssmenu">
              <ul>
                <li><a href="#">Accueil</a></li>                
                <li><a href="#">Lavages</a></li>
                <!-- <li><a href="#">Adresses</a></li>                 -->
                <li><a href="#">A propos</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div> 
<!--  end navigation -->