<!--  page banner -->
  <div id="page-banner" class="page-banner-main" style="background-image: url('images/bg/page-banner.jpg')">
    <div class="container">
      <div class="page-banner-block">
        <div class="section">
          <h3 class="section-heading">Team</h3>
        </div>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Team</a></li>
          <li class="active"><a>Team</a></li>
        </ol>
      </div>
    </div>
  </div>
<!--  end page banner  -->
<!--  team -->
  <div id="team" class="team-main-block">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Our Awesome Team</h3>
        <p class="sub-heading">Nullam dictum felis eu pede mollis pretium integer tincidunt cras dapibus</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-01.jpg" class="img-responsive" alt="team-01">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">Sarah Johnson</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-02.jpg" class="img-responsive" alt="team-02">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">John Doe</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-03.jpg" class="img-responsive" alt="team-03">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">Sarah Clark</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-04.jpg" class="img-responsive" alt="team-04">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">Mark Dwayne</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-05.jpg" class="img-responsive" alt="team-05">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">Sarah Johnson</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-06.jpg" class="img-responsive" alt="team-06">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">Sarah Clark</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-07.jpg" class="img-responsive" alt="team-07">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">John Doe</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="team-block text-center">
            <div class="team-img">
              <a href="team-details.html"><img src="images/team/team-08.jpg" class="img-responsive" alt="team-08">
              <div class="overlay-bg"></div></a>
            </div>
            <div class="team-dtl">
              <a href="team-details.html"><h6 class="team-heading">Mark Dwayne</h6></a>
              <div class="team-post">Mechanic</div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  end team -->