<!--  testimonials -->
  <div id="testimonials" class="testimonials-main-block">
    <div class="parallax" style="background-image: url('images/bg/testimonials-bg.jpg')">
    <div class="overlay-bg"></div>
      <div class="container">
        <div class="section text-center">
          <h3 class="section-heading">Testimonials</h3>         
        </div>
        <div id="testimonials-slider" class="testimonials-slider">
          <div class="item testimonials-block"> 
            <div class="testimonials-dtl text-center">
              <p>“ Curabitur ligula sapien tincidunt non euismod vitae posuere imperdiet leo maecenas malesuada praesent congue erat at massa sed cursus turpis vitae tortor donec posuere vulputate arcu phasellus accumsan cursus velit vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. ”</p>
            </div>
            <div class="testimonials-client">
              <div class="testimonials-client-img">
                <img src="images/testimonials-client-01.jpg" class="img-responsive" alt="client-01">
              </div>
              <div class="testimonials-client-dtl">
                <h6 class="client-name">Sarah Cesaro</h6>
                <div class="client-since">Platinum user from 3 years</div>
              </div>
            </div>
          </div>
          <div class="item testimonials-block"> 
            <div class="testimonials-dtl text-center">
              <p>“ Curabitur ligula sapien tincidunt non euismod vitae posuere imperdiet leo maecenas malesuada praesent congue erat at massa sed cursus turpis vitae tortor donec posuere vulputate arcu phasellus accumsan cursus velit vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. ”</p>
            </div>
            <div class="testimonials-client">
              <div class="testimonials-client-img">
                <img src="images/testimonials-client-02.jpg" class="img-responsive" alt="client-02">
              </div>
              <div class="testimonials-client-dtl">
                <h6 class="client-name">Smith Cesaro</h6>
                <div class="client-since">Platinum user from 2 years</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  end testimonials -->
    